@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .hero {
        position: relative;
        background-image: url("/a.webp");
        height: 100vh;
        width: 300px;
        margin: auto; 
        background-size: cover;
        background-position: bottom right;
        -webkit-mask-image: url("/paint.webp");
        -webkit-mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat; 
    }


    @media screen and (min-width:896px) {
       .hero {
        width: 900px; 
    }
}

}